@charset "UTF-8";
/*em HTML é id = em CSS #
em HTML é class = em CSS é . */
body {
    background-color: rgb(164, 236, 164);
}

h1 {
    color: rgb(2, 50, 2);
}

h1#principal {
    text-align: center;
    background-color: rgb(2, 50, 2);
    color: white;
}

h2 {
    color: rgb(32, 60, 32);
}