@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#A68863,#D9D3B8 );background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(53, 37, 30, 0.549);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgb(108, 77, 64);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(108, 77, 64);
}

h2 {
 color: #8C6849;
}

p {
    text-align: justify;
}